# These dependencies are for developers working on the project
# If the project matures to a package on pypi they should be extras

# Include normal requirements
-r requirements.txt

# [test] Show layout graph while nodes move around
matplotlib
PyQt5

# [test] Show progress bar during iterations
tqdm

# [doc] API reference
sphinx
